<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ControlPyME</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('main.dashboard') }}">ControlPyME</a>

    <div class="d-flex flex-wrap gap-2 align-items-center">
      {% if current_user.is_authenticated %}
        {% set biz = current_user.business %}

        <span class="text-light small">
          {{ current_user.email }} | {{ biz.name }}
        </span>

        <!-- Estado del plan -->
        {% if biz.is_pro %}
          <span class="badge text-bg-success">Pro ✅</span>
        {% else %}
          {% set days_left = ((biz.trial_ends_at - now).days if biz.trial_ends_at else 0) %}
          <span class="badge text-bg-warning">Trial: {{ days_left }} días</span>
        {% endif %}

        <!-- Navegación -->
        <a class="btn btn-outline-light btn-sm" href="{{ url_for('products.list_products') }}">Productos</a>
        <a class="btn btn-outline-light btn-sm" href="{{ url_for('sales.new_sale') }}">Venta</a>
        <a class="btn btn-outline-light btn-sm" href="{{ url_for('reports.reports_home') }}">Reportes</a>
		<a class="btn btn-outline-light btn-sm" href="{{ url_for('inventory.movements_home') }}">Kardex</a>

        <!-- Plan -->
        <a class="btn btn-outline-light btn-sm" href="{{ url_for('billing.plan') }}">Plan</a>

        <!-- Logout -->
        <a class="btn btn-warning btn-sm" href="{{ url_for('auth.logout') }}">Salir</a>
		{% if current_user.is_admin %}
		  <a class="btn btn-danger btn-sm" href="{{ url_for('admin.dashboard') }}">Admin</a>
		{% endif %}
		
      {% else %}
        <a class="btn btn-outline-light btn-sm" href="{{ url_for('auth.login') }}">Login</a>
        <a class="btn btn-outline-light btn-sm" href="{{ url_for('auth.register') }}">Registro</a>
      {% endif %}
    </div>
  </div>
</nav>

<div class="container py-4">

  <!-- FLASH MESSAGES -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="mb-3">
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}



  {% block content %}{% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>
